package com.example.funks;

import java.util.Map;
import java.util.logging.Logger;

import {{.InType.PathDots}}.{{.InType.UpCaseTypeName}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestHeader;
import org.springframework.web.bind.annotation.RestController;

@SpringBootApplication
public class {{.FunkName}}Receiver {
	private static final Logger logger = Logger.getLogger({{.FunkName}}Receiver.class.getName());

	private final {{.FunkName}}Function funk;

	public {{.FunkName}}Receiver({{.FunkName}}Function funk) {
		this.funk = funk;
	}

	@RestController
	class {{.FunkName}}EventController {

		@PostMapping("/")
		void funk(@RequestBody {{.InType.UpCaseTypeName}} event, @RequestHeader Map<String, String> headers) {
			logger.info("Invoking funk with event.\nHeaders:" + headers + "\nEvent: " + event);

			// TODO: custom exception handling
			funk.onEvent(event, headers);
		}
	}

	public static void main(String[] args) {
		SpringApplication.run({{.FunkName}}Receiver.class, args);
	}
}